.dashboard-maintitle{
    position: absolute;
    margin: auto;
    z-index: 5;
}

.container-cover {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 5rem;
    opacity: 0.5;
}
